#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}
/* ========================================================= Header ===*/
#header-wrap{
  background-color: #26495c;
  padding: 0 10px;
}
header{
  padding: 15px 0;
  position: relative;
  z-index: 10;
}
header h1{
  display: inline;
  font-family: 'TitilliumText22LLight';
  font-size: 22px;
}
header img{
  margin: 0 5px 0 0;
}
header h1 span{
  display: inline-block;
  margin: 12px 0 0;
  vertical-align: top;
}
header h1 a, header h1 a:hover{
  color: #fff;
}
nav{
  float: right;
  margin: 3px 0 0;
}
nav ul{

}
nav li{
  display: inline;
}
nav li a, nav li a:hover{
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 6px 14px;
}
nav li:last-child a{
  background-color: #69cbff;
  border-radius:3px;
  color: #26495c;
}
nav li:last-child a{
  border: none;
  box-shadow: none;
}
/* ========================================================= Intro ===*/
#intro{
  background-color: #fc6a63;
  /*box-shadow: 0 1px 0 #c7544e, 0 2px 0 #ecedef;*/
  padding: 30px 10px 55px;
}
#intro h1{
  color: #FFFFFF;
  font-size: 58px;
  margin: 0 0 10px;
  text-align: center;
}
#intro h2{
  color: #FFFFFF;
  margin: 0;
}
#intro p{
  color: #F7F7F7;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
/* ========================================================= Page ===*/
#page{
  background-color: #eff1f5;
  border-radius: 3px;
  /*box-shadow: 0 0 0 1px #a2a3a6 inset, 0 2px 0 #fff inset, 0 1px 4px rgba(0, 0, 0, 0.2);*/
  margin: -40px 0 30px;
  position: relative;
  z-index: 5;
}
.content{
  padding: 1%;
}
/* ========================================================= Home ===*/
#home #intro{
  padding: 70px 0 100px;
}
.slides span {
    display: block;
    position: relative;
}
.slides span:before {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 3px rgba(255, 255, 255, 0.7) inset, 0 2px 0 rgba(255, 255, 255, 0.5) inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.slides img{
  border-radius: 3px 3px 0 0;
}
/* -----------------
 -- Grade Spotter --
----------------- */
#intro-app{
  padding: 70px 0;
}
#intro-app .g8{
  margin: 130px 0 0;
}
#intro-app img{
  float: left;
  margin: 0 20px 20px 0;
}
#intro-app h2{
  float: left;
  font-size: 32px;
  margin: 27px 0 0;
  width: 460px;
}
#intro-app p{
  font-size: 18px;
}
/* ========================================================= About ===*/
#about img{
  border-radius: 3px;
}
#about p{
  text-align: justify;
}
#team{
  list-style: none;
  margin: 0;
  padding: 0;
}
#team li{

}
#team img{
  margin: 0 0 20px;
}
#team h3{
  font-size: 19px;
  margin: 0;
}
#team h3 span{
  font-size: 14px;
  color: #7695a3;
}
/* ========================================================= Work ===*/
#work{

}
#work h2{
  display: inline-block;
  margin: 0;
}
#work h2 a{
  color: #455860;
}
#work h2 img{
  margin: -5px 10px 0 0;
  vertical-align: middle;
}
#work h2 span{
  display: inline-block;
}
#work .buttons{
  float: right;
  margin-top: 2px 0 0;
}
#work .buttons i{
  font-size: 14px;
  margin: 0 0 0 5px;
  vertical-align: middle;
}
#work .flexslider span {
    display: block;
    position: relative;
}
#work .flexslider span:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.7) inset, 0 0 3px rgba(255, 255, 255, 0.7) inset, 0 2px 0 rgba(255, 255, 255, 0.5) inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
#work .title{
  border-bottom: 3px solid #c3c5c7;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
/* ========================================================= Hire ===*/
#hire{

}
#hire #hireForm .g2, #hire #hireForm .g4{
  margin-top: 0;
  margin-bottom: 0;
}
#hire .g4{

}
#hire .btn{
  float: right;
  margin-bottom: 10px;
}
/* ========================================================= Hire Bar ===*/
#hire-bar{
  background-color: #fc6a63;
  border-radius: 3px;
  margin: 0 0 30px;
  padding: 10px;
}
#hire-bar p{
  color: #fff;
  display: inline-block;
  font-size: 19px;
  margin: 6px 0 0 5px;
}
#hire-bar .btn{
  float: right;
}
/* ========================================================= Footer ===*/
#footer-wrap{
  background-color: #c3c5c7;
}
#footer-wrap, #push {
  height: 70px;
}
footer{
  padding: 22px 10px 10px;
}
footer #copy{
  display:inline-block;
}
footer #copy img{
  margin: 0 10px 0 0;
  vertical-align: bottom;
}
footer p{
  color: #2b343d;
  font-size:14px;
  margin: 0;
}
footer p span{
  display: inline-block;
  margin: 0 0 3px;
}
footer a{
  color: #2b343d;
}
/* ----------
 -- Social --
---------- */
footer #social{
  float: right;
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
footer #social li{
  margin: 0;
  padding: 0;
}
footer #social span{
  margin: 0 5px 0 0;
  vertical-align: super;
}
footer #social i{
  font-size: 26px;
  font-weight: bold;
}
/* ========================================================= Utility ===*/
img{
  height: auto;
  max-width: 100%;
}
.last{
  margin: 0;
}
/* ========================================================= Animation ===*/
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
