html, body{
	background-color: #f7f7f7;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	position: relative;
    z-index: 0;
}
h1{
	color: #333333;
	font-family: 'TitilliumText22LMedium', Arial, sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
h2{
	color: #333333;
	font-family: 'TitilliumText22LMedium', Arial, sans-serif;
	font-weight: 400;
	padding: 0;
}
h3{
	color: #333333;
	font-family: 'TitilliumText22LMedium', Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px;
	padding: 0;
}
p{
	color: #555555;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 20px;
	padding: 0;
}
ul, ol{
	color: #e3e3e3;
}
img{
	height: auto;
	max-width: 100%;
}
/* ========================================================= Header ===*/
header{
	background: #262f37;
	background: -moz-linear-gradient(top,  #262f37 0%, #20272e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262f37), color-stop(100%,#20272e));
	background: -webkit-linear-gradient(top,  #262f37 0%,#20272e 100%);
	background: -o-linear-gradient(top,  #262f37 0%,#20272e 100%);
	background: -ms-linear-gradient(top,  #262f37 0%,#20272e 100%);
	background: linear-gradient(top,  #262f37 0%,#20272e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262f37', endColorstr='#20272e',GradientType=0 );
	border-top: 1px solid #fc4132;
	border-bottom: 1px solid #000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	margin: 0 0 30px;
	padding: 10px 0;
	position: relative;
    z-index: 10;
}
header h1{
	display: inline;
	font-family: 'TitilliumText22LLight';
	font-weight: normal;
	line-height: 1;
}
header img{
	margin: 0 5px 0 0;
	vertical-align: text-bottom;
}
header h1 a, header h1 a:hover{
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
nav{
	background: #262f37;
	background: -moz-linear-gradient(top,  #262f37 0%, #20272e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262f37), color-stop(100%,#20272e));
	background: -webkit-linear-gradient(top,  #262f37 0%,#20272e 100%);
	background: -o-linear-gradient(top,  #262f37 0%,#20272e 100%);
	background: -ms-linear-gradient(top,  #262f37 0%,#20272e 100%);
	background: linear-gradient(top,  #262f37 0%,#20272e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262f37', endColorstr='#20272e',GradientType=0 );
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
	float: right;
	margin: 3px 0 0;
}
nav ul{

}
nav li{
	display: inline;
}
nav li a, nav li a:hover{
	border-right: 1px solid rgba(0,0,0,0.3);
	box-shadow: 1px 0 0 rgba(255,255,255,0.1);
	color: #d2d2d2;
	display: inline-block;
	font-size: 12px;
	padding: 9px 16px 8px;
}
nav li:last-child a{
	border: none;
	box-shadow: none;
}
/* ========================================================= Home ===*/
#intro{
	background: #124951 url(/img/intro.png) center center no-repeat;
	border-bottom: 2px solid #0c3036;
	margin: -30px 0 0;
	padding: 70px 0;
}
#intro img{
	height: auto;
	max-width: 100%;
}
#intro h1{
	color: #f7f7f7;
	font-size: 45px;
	margin: 48px 0 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
#intro p{
	color: #e1e1e1;
	font-size: 18px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
/* -----------------
 -- Grade Spotter --
----------------- */
#intro-gradespotter{
	padding: 70px 0;
}
#intro-gradespotter .g8{
	margin: 160px 0 0;
}
#intro-gradespotter img{
	float: left;
	margin: 0 20px 20px 0;
}
#intro-gradespotter h2{
	float: left;
	font-size: 32px;
	margin: 27px 0 0;
	width: 460px;
}
#intro-gradespotter p{
	font-size: 18px;
}
/* ------------
 -- Cochlear --
------------ */
#intro-cochlear{
	background-color: #f4f4f4;
	border-top: 1px solid #e7e7e7;
	padding: 70px 0;
}
#intro-cochlear .g8{
	margin: 180px 0 0;
}
#intro-cochlear img{
	float: left;
	margin: 0 20px 20px 0;
}
#intro-cochlear h2{
	float: left;
	font-size: 32px;
	margin: 27px 0 0;
	width: 460px;
}
#intro-cochlear p{
	font-size: 18px;
}
/* ========================================================= About ===*/
#team{
	list-style: none;
	margin: 0;
	padding: 0;
}
#team li{
	
}
#team img{
	border-radius: 4px;
	height: auto;
	margin: 0 0 20px;
	max-width: 100%;
}
#team h3 span{
	color: #999;
}
/* ========================================================= Footer ===*/
footer{
	background-color: #f4f4f4;
	border-top: 1px solid #fff;
	
	padding: 20px 0;
}
footer #copy{
	display:inline-block;
	font-size:12px;
	text-align:right;
}
footer p, footer ul{
	color: #333;
	margin:0;
}
footer p a{
	color: #333;
}
footer ul{
	display:inline-block;
	font-size:10px;
	float:right;
	list-style:none;
	margin:5px 0 0;
	padding:0;
}
footer li{
    display: inline-block;
	font-size:12px;
    margin: 0;
    padding: 0 3px;
}
footer a{
	color:#aaa;
}
/* ========================================================= Structure ===*/
.container {
	margin: 0 auto;
	width: 960px;
}
.container:before, .container:after, .content:before, .content:after { content: ""; display: table; }
.container:after, .content:after { clear: both; }
.container, .content { zoom: 1; }

.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12 {
	float: left;
	margin: 10px;
	width: 100%;
}

/* ----------
 -- 960px --
---------- */
	.container {width: 960px}
	.g1{max-width: 60px}
	.g2{max-width: 140px}
	.g3{max-width: 220px}
	.g4{max-width: 300px}
	.g5{max-width: 380px}
	.g6{max-width: 460px}
	.g7{max-width: 540px}
	.g8{max-width: 620px}
	.g9{max-width: 700px}
	.g10{max-width: 780px}
	.g11{max-width: 860px}
	.g12{max-width: 940px}
/* ---------
 -- 768px --
--------- */
@media screen and (min-width: 768px) and (max-width: 1023px){
	.container {width: 768px}
	.g1{max-width: 44px}
	.g2{max-width: 108px}
	.g3{max-width: 172px}
	.g4{max-width: 236px}
	.g5{max-width: 300px}
	.g6{max-width: 364px}
	.g7{max-width: 428px}
	.g8{max-width: 492px}
	.g9{max-width: 556px}
	.g10{max-width: 620px}
	.g11{max-width: 684px}
	.g12{max-width: 748px}
	
	#intro h1{
		margin: 10px 0 0;
	}
}
/* ---------
 -- 480px --
--------- */
@media screen and (min-width: 480px) and (max-width: 767px) {
	.container {width: 480px}
	.g1{max-width: 60px}
	.g2{max-width: 100px}
	.g3{max-width: 220px}
	.g4{max-width: 460px}
	.g5{max-width: 460px}
	.g6{max-width: 460px}
	.g7{max-width: 460px}
	.g8{max-width: 460px}
	.g9{max-width: 460px}
	.g10{max-width: 460px}
	.g11{max-width: 460px}
	.g12{max-width: 460px}
	
	#intro img{
		display: none;
	}
	#intro h1{
		margin: 0;
	}
}
/* ---------
 -- 320px --
--------- */
@media screen and (min-width: 320px) and (max-width: 479px) {
	.container {width: 320px}
	.g1{max-width: 44px}
	.g2{max-width: 86px}
	.g3{max-width: 140px}
	.g4{max-width: 300px}
	.g5{max-width: 300px}
	.g6{max-width: 300px}
	.g7{max-width: 300px}
	.g8{max-width: 300px}
	.g9{max-width: 300px}
	.g10{max-width: 300px}
	.g11{max-width: 300px}
	.g12{max-width: 300px}
	
	#intro img{
		display: none;
	}
	#intro h1{
		font-size: 35px;
		margin: 0;
	}
	#intro p{
		font-size: 16px;
	}
}