// ==========================================================================
// ✪ $Compass
// ==========================================================================

// ----------- min0px / max479px ----------- //
@media screen and (min-width: 0px) and (max-width: 479px) {
    header h1{
        display: block;
        text-align: center;
    }
    nav{
        float: none;
        text-align: center;
    }
    #intro h1{
        font-size: 44px;
    }
    #work .buttons {
        float: none;
    }
    #hire-bar .btn {
        float: none;
    }
}


// ----------- min480px / max767px ----------- //
@media screen and (min-width: 480px) and (max-width: 767px) {
    .g1 {
        max-width: 46%
    }
    .g1_5 {
        max-width: 46%
    }
}


// ----------- min768px / max1023px ----------- //
@media screen and (min-width: 768px) and (max-width: 1023px){
    .g1 {
        max-width: 21%
    }
    .g1_5 {
        max-width: 29.333%
    }
    .g2 {
        max-width: 46%
    }
    .g3 {
        max-width: 71%
    }
    .g4 {
        max-width: 96%
    }
}


// ----------- max959px ----------- //
@media screen and (max-width: 959px) {
    #hire-bar {
        border-radius: 0;
    }
}


// ----------- min1023px / max6000 ----------- //
@media screen and (min-width: 1023px) and (max-width: 6000px){
    .g1 {
        max-width: 21%
    }
    .g1_5 {
        max-width: 29.333%
    }
    .g2 {
        max-width: 46%
    }
    .g3 {
        max-width: 71%
    }
    .g4 {
        max-width: 96%
    }
}