// ==========================================================================
// ✪ $Structure
// ==========================================================================

.container {
    margin: 0 auto;
    max-width: 960px;
}
.container:before,
.container:after,
.content:before,
.content:after {
    content: "";
    display: table;
}
.container:after,
.content:after {
    clear: both;
}
.container,
.content {
    zoom: 1;
}


// ==========================================================================
// ✪ $Grid
// ==========================================================================

.g1,
.g1_5,
.g2,
.g3,
.g4 {
    float: left;
    margin: 2%;
    width: 100%;
}

.g1 {
    max-width: 96%
}
.g1_5 {
    max-width: 96%
}
.g2 {
    max-width: 96%
}
.g3 {
    max-width: 96%
}
.g4 {
    max-width: 96%
}
