// ==========================================================================
// ✪ $Sass Placeholders
// ==========================================================================

%titillum_medium {
    font-family: 'TitilliumText22LMedium', Arial, sans-serif;
    font-weight: normal;
}

%titillum_light {
    font-family: 'TitilliumText22LLight';
}

%proxima_nova {
    font-family: 'ProximaNova', sans-serif;
}

%proxima_nova_bold {
    font-family: 'ProximaNovaBold', sans-serif;
}


// ==========================================================================
// ✪ $Global Typography
// ==========================================================================

html {
    @extend %proxima_nova;
    -webkit-font-smoothing: antialiased;
}

body {
    font: normal 100%/1.5 Helvetica, HelveticaNeue, sans-serif;
}


// ==========================================================================
// ✪ $H's Typography
// ==========================================================================

h1 {
    @extend %titillum_medium;
    font-size: 3em; // 48px / 16px = 3em
    line-height: 1;
}

h2 {
    @extend %titillum_medium;
    font-size: 2.25em; // 36px / 16px = 2.25em
    line-height: 1.333333333333333;
}

h3 {
    @extend %titillum_medium;
    font-size: 1.5em; // 24px / 16px = 1.5em
    line-height: 1;
}

h4 {
    @extend %titillum_medium;
    font-size: 1.3125em; // 21px / 16px = 1.3125em
    line-height: 1.142857142857143;
}

h5 {
    @extend %titillum_medium;
    font-size: 1.125em; // 18px / 16px = 1.125em
    line-height: 1.333333333333333;
}

h6 {
    @extend %titillum_medium;
    font-size: 1em; // 16px /16px = 1em
    line-height: 1.5;
}


// ==========================================================================
// ✪ $Header
// ==========================================================================

.banner {
    .logo {
        @extend %titillum_light;
        font-size: 1.375em; // 22px / 16px

        // ----------- max479px ----------- //
        @media screen and (max-width: 29.9375em) {
            text-align: center;
        }
    }
}


// ==========================================================================
// ✪ $Navigation
// ==========================================================================

nav {
    font-size: 0.9375em; // 15px / 16px = 0.9375em

    // ----------- max479px ----------- //
    @media screen and (max-width: 29.9375em) {
        text-align: center;
    }
}


// ==========================================================================
// ✪ $Intro
// ==========================================================================

#intro h1 {
    font-size: 3.625em; // 58px / 16px = 3.625em
    text-align: center;

    // ----------- max479px ----------- //
    @media screen and (max-width: 29.9375em) {
        font-size: 2.75em; // 44px / 16px = 2.75em
    }
}

#intro p {
    text-align: center;
}

#intro #nav i {
    font-size: 1.125em; // 18 / 16 = 1.125em
}


// ==========================================================================
// ✪ $Grade Spotter
// ==========================================================================

#intro-app h2 {
    font-size: 2em; // 32px / 16px = 2em
}

#intro-app p {
    font-size: 1.125em; // 18 / 16 = 1.125em
}

#team .links i {
    font-size: 1.1875em; // 19 / 16 = 1.1875em
    font-weight: bold;
}


// ==========================================================================
// ✪ $Team
// ==========================================================================

#team h3 {
    font-size: 1.4375em; // 23px / 16px = 1.4375em
}

#team h4 {
    font-size: 1em; // 16px / 16px = 1em
}

.status-chart-icon {
    line-height: 1.1875;
}


// ==========================================================================
// ✪ $Work
// ==========================================================================

#work .buttons i {
    font-size: 0.875em; // 14px / 16px = 0.875em
}


// ==========================================================================
// ✪ $Hire Bar
// ==========================================================================

#hire-bar p {
    font-size: 1.1875em; // 19 / 16 = 1.1875em
}


// ==========================================================================
// ✪ $Form
// ==========================================================================

label {
    font-size: 1.125em; // 18 / 16 = 1.125em
}

input[type="name"],
input[type="text"],
input[type="email"],
textarea {
    line-height: 1.2;
}

.error_message,
.success {
    @extend %proxima_nova_bold;
    text-align: center;
}


// ==========================================================================
// ✪ $Button Module
// ==========================================================================

.btn {
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
}


// ==========================================================================
// ✪ $Footer Typography
// ==========================================================================

footer p {
    font-size: 0.875em; // 14px / 16px = 0.875em
}


// ==========================================================================
// ✪ $Social Typography
// ==========================================================================

#social .ss-icon {
    font-size: 1.875em; // 26px / 16px = 1.625em
    font-weight: bold;
    line-height: 1.25em;
}