// white
$vanilla_white: #FFF;

// H's Color
$header_color: #455860;

// Banner Background Color
$banner_bg_color: #26495c;

// Body Copy Color
$body_copy_color: #5C6E76;

// Intro Copy Color
$intro_copy_color: #F7F7F7;

// Container
$container_width: 960px;

// IE7-8 Container
$ie_container_width: 460px;

// gutter
$column_gutter: 2%;