; EditorConfig is awesome: http://EditorConfig.org

; top-most EditorConfig file
root = true

; Line Endings
; Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

; HTML
[**/*.html]
indent_style = tab
indent_size = 4

; PHP
[**/*.php]
indent_style = tab
indent_size = 4

; CSS
[css/*.css]
indent_style = tab
indent_size = 4

; Sass
[css/src/**/*.scss]
indent_style = tab
indent_size = 4

; Javascript
[js/**/*.js]
indent_style = tab
indent_size = 4