@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('../font/titillium/TitilliumText22L001-webfont.eot');
    src: url('../font/titillium/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titillium/TitilliumText22L001-webfont.woff') format('woff'),
         url('../font/titillium/TitilliumText22L001-webfont.ttf') format('truetype'),
         url('../font/titillium/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('../font/titillium/TitilliumText22L002-webfont.eot');
    src: url('../font/titillium/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titillium/TitilliumText22L002-webfont.woff') format('woff'),
         url('../font/titillium/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('../font/titillium/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('../font/titillium/TitilliumText22L003-webfont.eot');
    src: url('../font/titillium/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titillium/TitilliumText22L003-webfont.woff') format('woff'),
         url('../font/titillium/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('../font/titillium/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('../font/titillium/TitilliumText22L004-webfont.eot');
    src: url('../font/titillium/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titillium/TitilliumText22L004-webfont.woff') format('woff'),
         url('../font/titillium/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('../font/titillium/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('../font/titillium/TitilliumText22L005-webfont.eot');
    src: url('../font/titillium/TitilliumText22L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titillium/TitilliumText22L005-webfont.woff') format('woff'),
         url('../font/titillium/TitilliumText22L005-webfont.ttf') format('truetype'),
         url('../font/titillium/TitilliumText22L005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText22LXBold';
    src: url('../font/titillium/TitilliumText22L006-webfont.eot');
    src: url('../font/titillium/TitilliumText22L006-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titillium/TitilliumText22L006-webfont.woff') format('woff'),
         url('../font/titillium/TitilliumText22L006-webfont.ttf') format('truetype'),
         url('../font/titillium/TitilliumText22L006-webfont.svg#TitilliumText22LXBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../font/proximanova/proximanova-regular-webfont.eot');
    src: url('../font/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova/proximanova-regular-webfont.woff') format('woff'),
         url('../font/proximanova/proximanova-regular-webfont.ttf') format('truetype'),
         url('../font/proximanova/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../font/proximanova/proximanova-light-webfont.eot');
    src: url('../font/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova/proximanova-light-webfont.woff') format('woff'),
         url('../font/proximanova/proximanova-light-webfont.ttf') format('truetype'),
         url('../font/proximanova/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../font/proximanova/proximanova-bold-webfont.eot');
    src: url('../font/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanova/proximanova-bold-webfont.woff') format('woff'),
         url('../font/proximanova/proximanova-bold-webfont.ttf') format('truetype'),
         url('../font/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

// StatusChart Icon Font
@font-face {
    font-family: 'arctapicons';
    src:url('../font/arctapicons/arctapicons.eot');
    src:url('../font/arctapicons/arctapicons.eot?#iefix') format('embedded-opentype'),
        url('../font/arctapicons/arctapicons.svg#arctapicons') format('svg'),
        url('../font/arctapicons/arctapicons.woff') format('woff'),
        url('../font/arctapicons/arctapicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}