// ==========================================================================
// $Variables
// ==========================================================================

// @import "variables/global";


// ==========================================================================
// $Functions
// ==========================================================================

// 1. Aspect Ratio
// 2. Context Calc
// 3. Strip Units

@import "functions/aspect-ratio";
@import "functions/context-calc";
@import "functions/strip-units";


// ==========================================================================
// $Placeholders
// ==========================================================================

// 1. Psuedo Content
// 2. List Styling
// 3. Highlight
// 4. Display
// 5. Vertical Align
// 5. Font Loader

@import "placeholders/psuedo-elements";
@import "placeholders/list-styling";
@import "placeholders/highlight";
@import "placeholders/display";
@import "placeholders/vertical-align";
@import "placeholders/font-loader";


// ==========================================================================
// $Utility
// ==========================================================================

@import "utility/reset";
@import "utility/base";

html,
body {
	background-color: #fff;
	color: #252429;
	font-family: 'ProximaNova', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	width: 100%;
}


// ==========================================================================
// $Typography
// ==========================================================================

@import "typography/fonts";
@import "typography/ss-standard";
@import "typography/ss-social-circle";
@import "typography/ss-social-regular";

h1 {
	font-family: 'TitilliumBold', sans-serif;
	font-size: 41px;
	font-weight: 700;
	margin: 0 0 1%;
}

h2 {
	font-family: 'TitilliumBold', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

h3 {
	font-family: 'TitilliumBold', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

p {
	font-size: 18px;
	margin: 0;
}


// ==========================================================================
// $Modules
// ==========================================================================

$ginger-x: -500px;
$welcome-y: -150px;

header {
	> img[src*="ginger.svg"] {
		transform: translateX($ginger-x) translateZ(0);
		animation: slideIn 600ms 1 forwards normal cubic-bezier(.4,0,.2,1);
	}
}

.welcome {
	transform: translateY($welcome-y);
	animation: fadeIn 600ms 1 forwards normal cubic-bezier(.4,0,.2,1);
	opacity: 0;
}

@keyframes slideIn {
	from {
		transform: translateX($ginger-x);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

header {
	padding: 8% 0;
}

header img {
	display: inline-block;
	margin: 0 0 5%;
	padding: 0 5% 0 0;
	width: 100%;
}

.welcome{
	display: inline-block;
	padding: 0 5%;
	vertical-align: middle;
	width: 100%;
}

.members{
	background-color: #f7f7f7;
	list-style: none;
	font-size: 0;
	margin: 0 0 10%;
	padding: 0;
}

.members li {
	display: inline-block;
	cursor: pointer;
	width: 100%;
}

.members li:last-child {
	display:inline-block;
	width: 100%;
	vertical-align: middle;
}

.members img {
	height: auto;
	max-width: 100%;
}

.members li p {
	font-size: 20px;
	padding: 6% 0;
	text-align: center;
}

footer {
	margin: 0 0 2%;
	text-align: center;
}

footer img {
	margin: 0 0 1%;
}

footer p {
	font-size: 16px;
}


// ==========================================================================
// $Modals
// ==========================================================================

@import "modules/team-modal.scss";


// ==========================================================================
// $Helpers
// ==========================================================================

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear{clear: both;}

.hide {display: none;}
.show {display: block;}


// ==========================================================================
// $Breakpoints
// ==========================================================================

@media all and (min-width: 460px) {

	header img {
		margin: 0;
		width: 40%;
	}

	.welcome {
		padding: 0;
		width: 59%;
	}

	.members li {
		width: 50%;
	}

	// .members li:last-child{}

	.members li p {
		font-size: 28px;
		text-align: center;
	}

}

@media all and (min-width: 920px) {

	header img {
		margin: 0;
		max-width: 360px;
		width: 50%;
	}

	header .welcome {
		padding: 0 5%;
		width: 50%;
	}

	.members li {
		width: 20%;
	}


	.members li:last-child p{ 
		font-size: 19px;
		width: 100%;
	}

	.members li p {
		font-size: 28px;
	}

}


// ==========================================================================
// $Print
// ==========================================================================

@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
