// ============================================================
// $Pseudo Elements
// ============================================================

%pseudo-element {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}