// ============================================================
// $Vertical Align
// https://github.com/hagenburger/compass-placeholders
// ============================================================

%vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}