body{
	background-color: #eeeeee;
}
@font-face {
	font-family:"dock11";
		src:url("/work/touching-news/font/dock11/heavy_dock11.eot?") format("eot"),
		url("/work/touching-news/font/dock11/heavy_dock11.woff") format("woff"),
		url("/work/touching-news/font/dock11/heavy_dock11.ttf") format("truetype"),
		url("/work/touching-news/font/dock11/heavy_dock11.svg#DOCK11-Heavy") format("svg");
	font-weight:normal;
	font-style:normal;
}
h1{
	color: #262b31;
	font-family: Helvetica, Arial;
	font-size: 46px;
	font-weight: bold;
	margin: 0 0 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
a{
	color: #00A0C6;
	text-decoration: none;
}
p{
	color: #4C5357;
	font-size: 17px;
	line-height: 1.5;
	margin: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}
header{
	background-color: #fff;
	border-bottom: 1px solid #dbdbdc;
	color: #30353b;
	padding: 20px 0;
	margin: 0 0 40px;
}
header h1{
	font-family: 'dock11';
	margin: 0;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}
#header img {
	vertical-align: text-top;
}
nav {
    text-align: center;
}
nav ul li {	
    font-size: 16px;
    list-style: none outside none;
}
nav ul li a{
	background-color: #262b31;
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 0 0 2px;
    padding: 5px 15px;
}
nav ul li a:hover{
	color: #00A0C6;
}
article img{
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.9);
	max-width: 100%;
	height: auto;
	margin: 0 0 20px;
}

#paper{
	display: none;
}
.ad300x250{
	float: left;
	margin: 0 17px 20px;
}
footer{
	border-top: 1px dashed #b7b8ba;
	margin: 20px 0 0;
	padding: 20px 0;
}
#copy{
	color: #808080;
	font-size: 14px;
	display: inline-block;
}




/* ========================================================= Structure ===*/
.container{
	margin: 0 auto;
	padding: 0;
	width: 300px;
}
.content{
	margin: 0 20px;
}
.container:before, .container:after, .content:before, .content:after, #sidebar:before, #sidebar:after { content: ""; display: table; }
.container:after, .content:after, #sidebar:after { clear: both; }
.container, .content, #sidebar { zoom: 1; }

article {
	float: left;
	max-width: 260px;
	width: 100%;
}
#sidebar {
	background-color: #dbdbdc;
	display: none;
	float: left;
	margin: 0 0 10px;
	padding: 20px 20px 0;
	max-width: 220px;
	width: 100%;
}
/* ========================================================= 480px ===*/
@media screen and (min-width: 480px) {
	.container {width: 460px;}
	article {max-width: 420px;}
	#sidebar {max-width: 380px; display: none;}
}
/* ========================================================= 768px ===*/
@media screen and (min-width: 768px) {
	.container {width: 748px;}
	article {max-width: 748px;}
	#sidebar {max-width: 668px; display: block;}
	header h1{
		display: inline;
	}
	nav {
	    text-align: center;
	    float: right;
	}
	nav ul {
	    margin: 8px 0 0;
	}
	nav ul li {
	    display: inline-block;
	}
	nav ul li a{
		color: #00A0C6;
		background: none;
	    text-decoration: none;
	}
	nav ul li a:hover{
		color: #00A0C6;
	}
}
/* ========================================================= 1024 ===*/
@media screen and (min-width: 1024px) {
	.container {width: 1004px;}
	article {max-width: 594px;}
	#sidebar {max-width: 300px;margin: 0 0 0 30px;}
	.ad300x250{
		float: none;
		margin: 0 0 20px;
		width: 300px; height: 250px;
	}
	#paper{
		display: block;
		margin: 0 0 20px;
	}
}
/* ========================================================= Resize ===*/
.container, article, #sidebar {
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	transition:all .2s ease-out;
}
/* ========================================================= Device Icon ===*/
#view {
    float: right;
    margin: -5px 20px 0 0;
}
#device {
    background-image: url("/work/touching-news/img/desktop.png");
    color: #808080;
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 28px;
}
#device:before {
    content: "Desktop";
    display: block;
    margin: 20px 0 0 -10px;
}
@media (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){
	#device{background-image: url(/work/touching-news/img/mobile-p.png);width: 14px; height:24px;}
	#device:before {content: "Mobile";display: block;margin: 22px 0 0 -14px;}
}
@media (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){
	#device{background-image: url(/work/touching-news/img/mobile-l.png);width: 24px; height: 14px;}
	#device:before {content: "Mobile";display: block;margin: 14px 0 0 -8px;}
}
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	#device{background-image: url(/work/touching-news/img/tablet-p.png);width: 20px; height: 27px;}
	#device:before {content: "Tablet";display: block;margin: 25px 0 0 -9px;}
}
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
	#device{background-image: url(/work/touching-news/img/tablet-l.png);width: 27px; height: 20px;}
	#device:before {content: "Tablet";display: block;margin: 20px 0 0 -4px;}
}

/* ========================================================= Ads ===*/
.tablet300x250{
	display: none;
}
#tablet728{
	display: none;
}

@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	header h1{
		float: left;
	}
	#tablet728{
		background-color: #bbb;
		background-image: url("/work/touching-news/img/noise-bbb.png");
		border-top: 1px solid #999;
		-webkit-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
		box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
		bottom: 0; left: 0;
		display: block;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 10;
	}
	#tablet728 img{
		border-radius: 6px;
		-webkit-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:  0 1px 3px rgba(0, 0, 0, 0.4);
		box-shadow:  0 1px 3px rgba(0, 0, 0, 0.4);
		margin: 10px 0;
	}
	#sidebar{
		display: none;
	}
	footer{
		margin: 0 0 110px;
	}
}
@media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
	header .container{
		width: 340px;
	}
	header{
		border-left: 1px solid #dbdbdc;
		margin: 0;
		width: 340px;
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
	}
	header h1{
		display: block;
		margin: 10px 0 0px;
		font-size: 32px;
		text-align: left;
		text-transform: uppercase;
	}
	nav {
	    text-align: left;
		display:block;
		float: none;
		margin: 0 0 10px;
	}
	nav ul li {
		display: block;
	    font-size: 16px;
	}
	nav ul li a{
		background-color: #262b31;
	    color: #fff;
	    display: block;
	    text-decoration: none;
	    margin: 0 0 2px;
	    padding: 5px 15px;
	}
	nav ul li a:hover{
		color: #00A0C6;
	}
	article{
		margin: 15px 0 0;
		float: right;	
	}
	#sidebar{
		display: none;
	}
	.tablet300x250{
		display: block;
		margin: 0 0 20px;
	}
	#tablet728{
		display: none;
	}
	article, footer{
		width: 100%;
		max-width:623px;
		float: right;	
	}
}